// Template Colors
$navVsFooterBg: #181818;
$headerBg: #2a4365;
$projectsBg: #14532d;
$formBg: #512da8;
$fontColorLight: #dbdbdb;
$cardParagraphColor: rgb(157, 162, 165);
$fontColorDark: #000000;
// Template Font Size
$introHeadingSize: 45px;
$introHeadingSizeMobile: 24px;
$mainHeadingsSize: 35px;
$mainHeadingsSizeMobile: 30px;
$cardHeaderSize: 20px;
$iconsSize: 25px;
$smallTextSize: 14px;
$mediumTextSize: 16px;
$borderRadious: 10px;
$profilePicSize: 150px;
$profilePicSizeMobile: 125px;
